/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply py-2 px-4 rounded;
}

button.filled.accent {
  @apply bg-blue-700 text-white;
}

button.outlined.neutral {
  @apply border border-neutral-200;
}